---
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const default_desc =
  "ブレイキングダウン：朝倉未来主催の一分間最強を争う興奮の格闘技団体。選手情報、ランキング、試合結果などを詳細に掲載した情報満載のオンラインプラットフォーム";

const { title, description = default_desc } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{`${title} - BREAKING HUB`}</title>
<meta name="title" content={`${title} - BREAKING HUB`} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={`${title} - BREAKING HUB`} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={"https://res.cloudinary.com/deevlog/image/upload/v1685099030/bd-ranking/screen_shot.png"}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={`${title} - BREAKING HUB`} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={"https://res.cloudinary.com/deevlog/image/upload/v1685099030/bd-ranking/screen_shot.png"}
/>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap"
  rel="stylesheet"
/>
